*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
}
#nav{
    background-color: rgb(69 28 63);
    position: fixed;
    width: 100%;
    z-index: 111;
}
.nav-header{
    display: flex;
    margin: auto;
    width: 95%;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    margin: 25px;
}
.nav-logo img{
    width: 86px;
}
.nav-buttons{
    display: flex;
    gap: 70px;
    color:inherit;
    margin: 25px;
    padding-left: 17rem;
}
.nav-buttons li{
    list-style: none;
}
.nav-buttons li a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 600; 
    padding-bottom: 9px;
}
.nav-buttons li a:hover{
    border-bottom: 1px ridge white;
}
.hidden-content .manu-icon{
    display: none;
    padding-right: 1rem;
}
.dropdown-content{
    z-index: 9;
    position: absolute;
    background-color:#451c3f;
    right: 63px;
    top: 73px;
    text-align: center;
    width: 77%;
    margin: auto;
    display: flex;
    border-radius: 18px;
    padding-top: 1.3rem;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
}
.dropdown-content-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0.5rem;
}
.dropdown-content-1 li{
    list-style: none;
    padding-left: 11px;
    
}___
.dropdown-content-1 li a{
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(228, 214, 214);
    padding-left: 26px;
    font-size: 1.2rem;
}

.dropdown-content{
    display: none;
}
/* .hidden-content:hover .dropdown-content{
    display: block;
    cursor: pointer;
} */
.parallex-1{
    background-image: url(./images/header-backgound.jpg);
    color: white;
    width: 100%;
    height: auto;
    padding: 200px 0px;
    text-align: center;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.parallex-1 h1{
    color: white;
    font-weight: 400;
    letter-spacing: 0em;
    font-size: 3rem;
}
.parallex-1 span{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}
.parallex-1 span:before{
    content:'';
    animation: animate infinite 6s;
  }
  #about{
    background-color: #fff;
  }
 .about-back{
    background-color: white;
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 20px;
    display: flex;
    padding: 15px;
    margin-top: 5rem;
 }
 .about-information{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
 }
 .about-information img{
    border-radius: 4px;
 }
 .about-1{
    width: 50%;
 }
 .inform{
    display: flex;
    flex-direction: column;
    gap: 16px;
 }
 .inform h5{
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-size: 1rem;
 }
 .inf0{
    display: flex;
    align-items: center;
 }
 .skills{
    margin-top: 4rem;
    
 }
 .skills:hover .color-1{
    animation: color-1 2s 1 linear;
 }
 .skills:hover .color-2{
    animation: color-2 2s 1 linear;
 }
 .skills:hover .color-3{
    animation: color-3 2s 1 linear;
 }
 .skills:hover .color-4{
    animation: color-4 2s 1 linear;
 }
 .skills h2{
    padding-left: 15px;
    margin-bottom: 2rem;
 }
 .main-skill-bar{
    display: flex;
    flex-direction: column;
    gap: 13px;

 }
 .skill-bar{
    position: relative;
    margin-bottom: 15px;
    width: 95%;
   background-color:#eee;
    margin: auto;
   display: flex;
   border-radius: 6px;
 }
.skill-bar p{
    font-weight: bold;
    width: 20%;
    background: #d35400;
    font-size: 13px;
    text-align: center;
    color: white;
    padding: 7px;
}
.skill-bar .color-1{
    background: #e67e22;
    width: 68%;
    border-radius: 5px;
}
.skill-bar .color-2{
    background: #e67e22;
    width: 53%;
    border-radius: 5px;
}
.skill-bar .color-3{
    background: #e67e22;
    width: 36%;
    border-radius: 5px;
}
.skill-bar .color-4{
    background: #e67e22;
    width: 73%;
    border-radius: 5px;
}
.skill-bar span{
    color: rgba(0,0,0,0.4);
    font-size: 11px;
    position: absolute;
    right: 4px;
}
.about-2{
    width: 50%;
}
.about-2 h4{
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00735em
}
.para-about p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 30px;
    text-align: justify;
    line-height: 1.56;
    font-size: 22px
}
#services{
    background-color: #f5f5f5;
    padding: 48px 0;
    padding-bottom: 10rem;
}
.service-heading{
    width: 90%;
    text-align: center;
    padding: 19px;
    margin: auto;
}
.service-heading h1{
    color: rgb(69 28 63);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 3.25rem;
    font-weight: 450;
}
.service-card{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10rem;
    justify-content: space-between;
    align-items: center;
}
.service-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #fff;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 30%);
    border-radius: 1rem;
}
.service-item i{
    font-size: 35px;
    border: 5px solid blue;
    padding: 31px;
    border-radius: 56px;
}
.service-item h2{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.service-item p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    padding-bottom: 2rem;
}
.parallex-2{
    background-image: url(./images/second-backgound.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: center;
}
.work-card{
    background-color: rgba(0, 122, 255, 0.5);
    height: 800px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.work-item{
    display: flex;
    flex-direction: column;
    height: 260px;
}
.work-item i{
    font-size: 50px;
    border: 5px solid blue;
    margin: 38px;
    padding: 29px;
    border-radius: 69px;
    color: white
}
.work-item span{
    color: #efe9de;
    font-size: 24px
}
.work-item p{
    color: white;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em
}
#portfolio{
    background-color: #f5f5f5;
    padding-top: 1rem;
    padding-bottom: 8rem;
}
.portfolio-heading{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 6rem;
}
.portfolio-heading h1{
    color: rgb(69 28 63);
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.00833em;
}
.portfolio-heading p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 12px;
}
.folio-card{
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.folio-item{
    width: 24%;
    padding: 2.5rem 1.3rem;
    background: #fff;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 20%);
    border-radius: 1rem;
}
.folio-item img{
    width: 100%;
}
.folio-context{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.folio-context-1 p{
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em
}
.folio-context-2{
    color: #0078ff;
    width: 40px;
    border: 3px solid blue;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
}
.parallex-3{
    background-image: url(./images/third-backgound.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#blog{
    background-color: #f5f5f5;
    padding-top: 1rem;
    padding-bottom: 8rem;
}
.blog-heading{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 6rem;
}
.blog-heading h1{
    color: rgb(69 28 63);
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.00833em;
}
.blog-heading p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 12px;
}
.blog-card{
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-item{
    width: 27%;
    background: #fff;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    margin-bottom: 50px;
    border: 1px solid rgb(0 0 0 / 10%);
}
.blog-item img{
    width: 100%;
}
.blog-item .mini-box{
    color: white;
    height: auto;
    margin: -15px auto auto auto;
    text-align: center;
}
.mini-box span{
    padding: 7px 15px;
    font-size: 11px;
    background: blue;
    border-radius: 3px;
}
.blog-context{
    margin: 24px 10px 0px;
    text-align: center;
}
.blog-context a{
    color: #57a6ff;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
}
.blog-context p{
    color: #4e4e4e;
    margin-top: 10px;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 15px;
}
.blog-last{
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 8px 10px;
    overflow: hidden;
    min-height: 30px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-left{
float: left;
}
.blog-right{
    float: right;
}
.blog-left img{
    width: 32px;
    height: 32px;
    margin-right: 9px;
    border-radius: 50%;
    vertical-align: middle
}
.blog-right span{
    vertical-align: middle;
}
.blog-left a{
    color: #57a6ff;
    text-decoration: none;
}
.blog-right img{
    width: 20px;
    vertical-align: middle;
}
.parallex-4{
    background-image: url(https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:900px;
    background-attachment: fixed;
    background-size: cover;
}
.main-content{
    width: 80%;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.context-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.context-1 h4{
    color: rgb(69 28 63);
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
.input-box{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 3rem;
}
input{
    width:76%;
    margin: auto;
    height:45px;
    padding-left: 16px;
    font-size: 18px;
    border-radius: 3px;
    border:1px solid gray;
}

textarea{
    margin: auto;
    width: 78.5%;
}
.button{
    margin: auto;
}
.button input
{
  width: 107px;
    margin: auto;
    height: 45px;
    padding-left: 0px;
    font-size: 19px;
    border-radius: 18px;
    border: 1px solid gray;
    display: flex
;
    text-align: center;
    color: #0078ff;
    background-color: white;
    font-weight: bold;
}

.button input:hover{
    color: white;
    background-color: #0078ff;
    cursor: pointer;
}
.context-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding-top: 15px;
    padding-bottom: 10px;
}
.context-2 h4{
    color: rgb(69 28 63);
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
.context-2>p{
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 15px;
    width: 89%;
}
.mui-item{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 87%;
}
.item{
    display: flex;
    justify-content: flex-start;
}
.item>p{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.icons-list{
    display: flex;
    gap: 45px;
    margin-top: 4rem;
}
.icons-list img{
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.icons-list img:hover{
    cursor: pointer;
    background: black;
    animation: goma 0.5s linear 0s;
    animation-fill-mode: forwards;
   
}
@keyframes goma {
    0%{
        rotate: 0deg;
    }
    50%{
rotate: 70deg;
    }
    100%{
           /* rotate: 0deg; */
    }
}
footer{
    text-align: center;
    padding: 25px 0px;
    background-color:rgb(69 28 63);
    color: white;
}
footer img{
    width:86px;
}
@media only screen and (max-width:1030px){
    .nav-buttons{
        display: none;
    }
    .hidden-content .manu-icon{
        display: block;
        padding-left: 0rem;
        cursor: pointer;
    }

}
@media only screen and (max-width:960px){
.about-back{
    flex-direction: column;
}
.about-1{
    width: 100%;
}
.about-2{
    width: 100%;
    text-align: center;
}
#services{
    padding-bottom: 3rem;
}
.service-card{
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;
}
.service-item{
    width:85%;
    align-items: center;
    text-align: center;
}
.parallex-2{
    height: 980px;
}
.work-card{
    flex-direction: column;
    gap: 10px;
    height: 980px;
}
.work-item i{
    margin: 27px;
}
.work-item{
    height: 238px;
}
.folio-card{
    flex-direction: column;
    gap: 18px;
}
.folio-item{
    width: 90%;
}
.blog-card{
    flex-direction: column;
    gap: 18px;
}
.blog-item{
    width: 90%;
}
.parallex-4{
    height: 1300px;
    background-position: center;
}
.main-content{
    width: 90%;
    flex-direction: column;
    gap: 28px;
}
.context-1{
    width: 100%;
}
input{
    width: 80%;
}
.context-2{
    width: 100%;
    justify-content: center;
    align-items: center;
}
}



@media only screen and (max-width:500px){
.about-information{
    flex-direction: column;
    gap: 40px;
}
.parallex-1 h1{
    font-size: 1.7rem;
}
.dropdown-content-1{
    color: white;
}


}